# Pandas Basic Dataframe

Topics covered

1)Creating dataframe

2)Dealing with rows and columns

3)operations: min, max, std, describe

4)Conditional selection

5)set_index

# Different ways of importing data

In [1]:
import pandas as pd
df = pd.read_csv("C:\\Users\\NATARAJ\\Python Libaries NTS Notes\\NTS Pandas Notes\\weather_data.csv")
df

          day  temperature  windspeed  event
0  01-01-2017           32          6   Rain
1  01-02-2017           35          7  Sunny
2  01-03-2017           28          2   Snow
3  01-04-2017           24          7   Snow
4  01-05-2017           32          4   Rain
5  01-06-2017           31          2  Sunny

In [2]:
import pandas as pd
weather_data1 = {'day':['1/1/2017','1/2/2017','1/3/2017','1/4/2017','1/5/2017','1/6/2017'],
                 'temperature':[32,35,28,24,32,31],
                 'windspeed':[6,7,2,7,4,2],
                 'event':['Rain','Sunny','Snow','Snow','Rain','Sunny']}
df1 = pd.DataFrame(weather_data1)
df1

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

In [3]:
df.shape

(6, 4)

In [4]:
rows,columns = df.shape

In [5]:
rows

6

In [6]:
columns

4

In [7]:
df.head()                      #prints the first five rows

          day  temperature  windspeed  event
0  01-01-2017           32          6   Rain
1  01-02-2017           35          7  Sunny
2  01-03-2017           28          2   Snow
3  01-04-2017           24          7   Snow
4  01-05-2017           32          4   Rain

In [8]:
df.head(2)

          day  temperature  windspeed  event
0  01-01-2017           32          6   Rain
1  01-02-2017           35          7  Sunny

In [9]:
df.tail()                            #Prints the last five rows

          day  temperature  windspeed  event
1  01-02-2017           35          7  Sunny
2  01-03-2017           28          2   Snow
3  01-04-2017           24          7   Snow
4  01-05-2017           32          4   Rain
5  01-06-2017           31          2  Sunny

In [10]:
df.tail(1)

          day  temperature  windspeed  event
5  01-06-2017           31          2  Sunny

In [11]:
df[2:5]

          day  temperature  windspeed event
2  01-03-2017           28          2  Snow
3  01-04-2017           24          7  Snow
4  01-05-2017           32          4  Rain

In [12]:
df[:]

          day  temperature  windspeed  event
0  01-01-2017           32          6   Rain
1  01-02-2017           35          7  Sunny
2  01-03-2017           28          2   Snow
3  01-04-2017           24          7   Snow
4  01-05-2017           32          4   Rain
5  01-06-2017           31          2  Sunny

In [13]:
df.columns

Index(['day', 'temperature', 'windspeed', 'event'], dtype='object')

In [14]:
df.day

0    01-01-2017
1    01-02-2017
2    01-03-2017
3    01-04-2017
4    01-05-2017
5    01-06-2017
Name: day, dtype: object

In [15]:
df.event

0     Rain
1    Sunny
2     Snow
3     Snow
4     Rain
5    Sunny
Name: event, dtype: object

In [16]:
df['temperature']

0    32
1    35
2    28
3    24
4    32
5    31
Name: temperature, dtype: int64

In [17]:
type(df.event)

pandas.core.series.Series

In [18]:
df[['event','temperature']]

   event  temperature
0   Rain           32
1  Sunny           35
2   Snow           28
3   Snow           24
4   Rain           32
5  Sunny           31

In [19]:
df.temperature.max()

35

In [20]:
df['temperature'].max()

35

In [21]:
df.temperature.min()

24

In [22]:
df.temperature.mean()

30.333333333333332

In [23]:
df.temperature.std()

3.8297084310253524

In [24]:
df.describe()

       temperature  windspeed
count     6.000000   6.000000
mean     30.333333   4.666667
std       3.829708   2.338090
min      24.000000   2.000000
25%      28.750000   2.500000
50%      31.500000   5.000000
75%      32.000000   6.750000
max      35.000000   7.000000

In [25]:
df[df.temperature>=32]

          day  temperature  windspeed  event
0  01-01-2017           32          6   Rain
1  01-02-2017           35          7  Sunny
4  01-05-2017           32          4   Rain

In [26]:
df[df.temperature==df.temperature.max()]

          day  temperature  windspeed  event
1  01-02-2017           35          7  Sunny

In [27]:
df['day'][df.temperature>=32]

0    01-01-2017
1    01-02-2017
4    01-05-2017
Name: day, dtype: object

In [31]:
df[['day','event','temperature']][df.temperature == df.temperature.max()]

          day  event  temperature
1  01-02-2017  Sunny           35

In [32]:
df.index

RangeIndex(start=0, stop=6, step=1)

In [34]:
df.set_index('day',inplace=True)

In [35]:
df

            temperature  windspeed  event
day
01-01-2017           32          6   Rain
01-02-2017           35          7  Sunny
01-03-2017           28          2   Snow
01-04-2017           24          7   Snow
01-05-2017           32          4   Rain
01-06-2017           31          2  Sunny

In [36]:
df.loc['01-03-2017']

temperature      28
windspeed         2
event          Snow
Name: 01-03-2017, dtype: object

In [37]:
df.reset_index(inplace=True)

In [38]:
df

          day  temperature  windspeed  event
0  01-01-2017           32          6   Rain
1  01-02-2017           35          7  Sunny
2  01-03-2017           28          2   Snow
3  01-04-2017           24          7   Snow
4  01-05-2017           32          4   Rain
5  01-06-2017           31          2  Sunny

In [39]:
df.set_index('event',inplace=True)

In [40]:
df

              day  temperature  windspeed
event
Rain   01-01-2017           32          6
Sunny  01-02-2017           35          7
Snow   01-03-2017           28          2
Snow   01-04-2017           24          7
Rain   01-05-2017           32          4
Sunny  01-06-2017           31          2

In [41]:
df.loc['Snow']

              day  temperature  windspeed
event
Snow   01-03-2017           28          2
Snow   01-04-2017           24          7