# Different ways of creating files

1) By using csv file

In [1]:
import pandas as pd
df = pd.read_csv('C:\\Users\\NATARAJ\\Python Libaries NTS Notes\\NTS Pandas Notes\\Different _ways_of _creating _files.csv')
df

          day  temperature  windspeed  event
0  01-01-2017           32          6   Rain
1  01-02-2017           35          7  Sunny
2  01-03-2017           28          2   Snow

2) By using xlsx file

In [2]:
import pandas as pd
df = pd.read_excel('C:\\Users\\NATARAJ\\Python Libaries NTS Notes\\NTS Pandas Notes\\Different _ways_of _creating _files.xlsx')
df

         day  temperature  windspeed  event
0 2017-01-01           32          6   Rain
1 2017-02-01           35          7  Sunny
2 2017-03-01           28          2   Snow

3) By using Dict and list

In [3]:
import pandas as pd
data1 = {'day':['1/1/2017','1/2/2017','1/3/2017'],
         'temperature':[32,35,28],
         'windspeed':[6,7,2],
         'event':['Rain','Sunny','Snow']}
df = pd.DataFrame(data1)
df

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow

4) By using Tuples

In [4]:
data2 = [('1/1/2017',32,6,'Rain'),
         ('1/2/2017',35,7,'Sunny'),
         ('1/3/2017',28,2,'Snow')]
df = pd.DataFrame(data2,columns=['day','temperature','windspeed','events'])
df

        day  temperature  windspeed events
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow

5) By using List and Dict

In [5]:
import pandas as pd
data3 = [{'day':'1/1/2017','temperature':32,'windspeed':6,'event':'Rain'},
         {'day':'1/2/2017','temperature':35,'windspeed':7,'event':'Sunny'},
         {'day':'1/3/2017','temperature':28,'windspeed':2,'event':'Snow'}]
df = pd.DataFrame(data3)
df

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow